# PostgreSQL
MLFLOW_DB_NAME=mlflow
MLFLOW_DB_USER=mlflow
MLFLOW_DB_PASSWORD=mlflow

# ML flow artifacts storage
MLFLOW_S3_ENDPOINT_URL=https://storage.yandexcloud.net
MLFLOW_S3_BUCKET_NAME=mishasdk-object-storage
MLFLOW_S3_DIR_NAME=mlflow-artifacts

# Yandex Cloud SA secrets
YC_ACCESS_KEY_ID=YC...
YC_SECRET_ACCESS_KEY=YC...
